#bg-raggiera {
  background: url(../public/SVG/raggiera-gradient.svg);
  background-repeat: no-repeat;
  background-position: 0;
}

#bg-raggiera .img-wrap {
  width: 100%;
  height: 1.4rem;
}

#vision-mission {
  flex-direction: column;
  gap: 1rem;
}

#vision-mission .wrap-grid {
    grid-template-columns: repeat(5, 1fr);
}

#vision-mission .synchro-type {
    grid-column: span 2;
}


#values {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#values .wrap-grid {
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
}

#values .card {
    height: 12rem;
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 0rem;
    background: var(--section-bg);
    padding: 20px;
}

#values .card .body-text {
    width: 100%;
    display: none;
}

#values .card:hover .body-text {
    display: block;
}

#payoff .wrap-row-end {
    width: 100%;
    border-top: var(--border);
}

#payoff .wrap-col-start {
    padding: 20px;
    border-bottom: var(--border);
}