#bg-raggiera {
  background: url(../public/SVG/raggiera-gradient.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 0;
}

#bg-raggiera .wrap-row-end {
  width: 100%;
}

#bg-raggiera .wrap-row-end .wrap-column {
  width: 80ch;
  gap: 2rem;
}

/*–––––––––––––––––––––––––––––––––––––––––––––––––*/
#about-synchro .body-text {
  width: 70ch;
}
/*–––––––––––––––––––––––––––––––––––––––––––––––––*/

#vision-mission {
  flex-direction: column;
  gap: 1rem;
}

#vision-mission .wrap-grid {
  grid-template-columns: repeat(5, 1fr);
}

#vision-mission .synchro-type {
  grid-column: span 2;
}

#vision-mission .wrap-grid .body-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}

#vision-mission .wrap-grid .body-text p {
    width: 70ch;
}

/*–––––––––––––––––––––––––––––––––––––––––––––––––*/

#payoff .wrap-row-end {
  width: 100%;
  border-top: var(--border);
}

#payoff .wrap-col-start {
  padding: 20px;
  border-bottom: var(--border);
  width: fit-content;
}

/*–––––––––––––––––––––––––––––––––––––––––––––––––*/

#values {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#values .wrap-grid {
  width: 100%;
  grid-template-columns: repeat(4, 1fr);
}

#values .card {
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 0rem;
  padding: 20px;
}

#values .card .body-text {
  width: 100%;
}

.lastone {
  display: none;
}


