/* ===========================
   INDEX.CSS
   =========================== */

.product-presentation {
  flex-direction: column;
  justify-content: end;
  align-items: flex-end;
}

.img-wrap {
  height: 16rem;
  width: 16rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.img-wrap img {
  height: 100%;
  object-fit: contain;
}

#zero-hour-section {
  background: none;
  padding: 1rem 0;
}

/* ===========================
   Regole migrate da CSS inline
   =========================== */

html body button {
  cursor: pointer;
}

#zero-hour-section {
  border-top: var(--border);
}

#zero-hour-section .wrap-column.zhd-content {
  width: fit-content;
  gap: 1rem;
}

footer .wrap .left .footer-small {
  font-size: 0.8rem;
  font-weight: 100;
}

#chronodex-hero {
  background: url(../public/chronodex-page/chrono.png);
}

#deskflow-hero {
    background: url(../public/deskflow/deskflow2-dk.png);
}

#id-hero {
  background: url(../public/synch-id/synch-id7.png);
}

  #workflow-hero {
    background: url(../public/workflow/workflow2-dk.png);
  }