.form-fill {
  height: calc(84vh - 80px - 8vh);
  background-size: cover;
  padding: 40px;
  width: calc(100% - 80px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  height: fit-content;
  overflow: scroll;
}

.hero {
  margin-top: 10vh;
  background: url(./public/images/hero.png);
  background-size: cover;
}

.block {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.block input {
  width: 32vw;
  height: 2rem;
  margin-top: 0.5rem;
  background: none;
  border: none;
  color: var(--secondary-color);
  font-size: 1rem;
  font-weight: 100;
  border-bottom: 1px solid var(--secondary-color);
  font-size: 0.9rem;
}

.form-fill {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.summary {
  margin-top: 2rem;
}

.checkbox {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 0.8rem;
  margin-top: 2rem;
  color: var(--secondary-color);
}

.checkbox input {
  display: none;
}

.checkmark {
  width: 16px;
  height: 16px;
  border: 1px solid var(--secondary-color);
  display: inline-block;
  position: relative;
}

.checkbox input:checked + .checkmark::after {
  content: "";
  position: absolute;
  inset: 3px;
  background: var(--secondary-color);
}

.summary .body-text {
  width: 50%;
  font-size: 0.8rem;
  font-weight: 300;
}

.selector {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 12px;
  color: var(--secondary-color);
  padding: 4px;
}

.selector label {
  color: var(--primary-color);
  width: fit-content;
  font-size: 0.8rem;
  opacity: 0.6;
  height: 100%;
}

.selection-box {
  width: fit-content;
  flex: 1;
  padding: 4px 0;
  font-size: 1rem;
  background: none;
}

.input-box {
  background: none;
  border: none;
  border-bottom: var(--border);
  width: 100%;
  height: 2rem;
  margin-top: 0.5rem;
  font-size: 1rem;
}

.block .body-text {
    width: 32vw;
    font-size: 0.8rem;
    opacity: 0.6;
}

.block .body-text p {
    width: 80%;
}

.form-btn {
    width: 32vw;
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 1rem;
    margin-top: 2rem;
}

.form-btn input {
    border: var(--border);
    background: none;
    width: fit-content;
    padding: 0 20px;
    display: flex;
}

.form-btn input:hover {
    background: var(--secondary-color);
    color: var(--primary-color);
    cursor: pointer;
}

#results {
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 1rem;
}

.result-line {
  background: none;
  height: fit-content;
  width: 32vw;
  flex: 1;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: start;
  border: none;
}

.result-line .subtitle {
text-align: left;
font-size: 1rem;
opacity: 1;
}

.wrap-line {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}

.wrap-line .body-text {
  width: fit-content;
}

.result-line .wrap-sx {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 0;
}

.result-line:hover {
  cursor: pointer;
  border: none;
  background: none;
}

.result-line:hover .subtitle {
  text-decoration: underline;
}
