.fit-content {
  width: fit-content;
}

.first-row {
  width: 100%;
}

.form-fill {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-size: cover;
  overflow: auto;
}

.block {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.block input {
  width: 32vw;
  height: 2rem;
  margin-top: 0.5rem;
  background: none;
  border: none;
  border-bottom: 1px solid var(--secondary-color);
  color: var(--secondary-color);
  font-size: 0.9rem;
  font-weight: 100;
}

.block .body-text {
  width: 32vw;
  font-size: 0.8rem;
  opacity: 0.6;
}

.block .body-text p {
  width: 80%;
}

#results {
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1rem;
}

.result-line {
  background: none;
  height: fit-content;
  width: 32vw;
  flex: 1;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  border: none;
}

.result-line .subtitle {
  text-align: left;
  font-size: 1rem;
  opacity: 1;
}

.wrap-line {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.wrap-line .body-text {
  width: fit-content;
}

.result-line:hover {
  cursor: pointer;
  border: none;
  background: none;
}

.result-line:hover .subtitle {
  text-decoration: underline;
}
