* {
  scrollbar-width: none;
}

.body-text {
  width: 100ch;
  font-size: 0.8rem;
  text-transform: uppercase;
}

.first {
  width: 100%;
}

.row-width {
  width: 100ch;
}

.text-col {
  width: 100ch;
  height: 64vh;
  overflow-y: scroll;
}
