.wrap-col-end {
  width: 100%;
}

.wrap-row-space {
  width: 100%;
  height: fit-content;
}

.wrap-col-space {
  width: 100%;
}

#title-card {
    background: url(../public/zhd/cabina.png);
    background-size: cover;
}


#title-card .img-wrap {
  width: 100%;
  height: 2.8rem;
}
#title-card .title {
  text-align: left;
}

#intro .img-wrap {
  height: 40vh;
  width: fit-content;
}

#intro .body-text {
  width: 50ch;
}

#chrono .img-wrap {
  flex: 1;
}

#chrono img {
  height: 100%;
  width: 100%;
  object-fit: fill;
}

#use .wrap-col-start {
  width: 100%;
  gap: 0;
}

#use .wrap-grid {
  grid-template-columns: repeat(4, 1fr);
  height: 32rem;
  width: 100%;
  
}

#use .wrap-grid .card {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: var(--bg-dark-opacity);
}

#use .wrap-grid .card .img-wrap {
  width: calc(100% - 80px);
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 40px;

  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

/* Card 1 */
.wrap-grid .card:nth-child(1) .img-wrap {
  background-image: url("../public/zhd/step1.svg");
}

/* Card 2 */
.wrap-grid .card:nth-child(2) .img-wrap {
  background-image: url("../public/zhd/step2.svg");
}

/* Card 3 */
.wrap-grid .card:nth-child(3) .img-wrap {
  background-image: url("../public/zhd/step3.svg");
}

/* Card 4 */
.wrap-grid .card:nth-child(4) .img-wrap {
  background-image: url("../public/zhd/step4.svg");
}

#use .wrap-grid .card .wrap-text {
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: calc(100% - 40px);
  padding: 20px;
  height: 20%;
}

#use .wrap-grid .card .wrap-text .synchro-type {
  width: 100%;
}

#use .wrap-grid .card .wrap-text .body-text {
  width: 100%;
  font-size: 0.8rem;
}

#use .wrap-grid .card .wrap-text .body-text::first-letter {
    text-transform: uppercase;
}

/********************************/
.video .bg-video {
  inset: 0;
  width: 100vw;
  height: 100%;
  object-fit: cover;

  /* importante: devono funzionare hover/click/dblclick sul video */
  pointer-events: auto;
  cursor: pointer;
}

/**/

#explained .wrap-row-space {
  height: 100%;
}
#explained .wrap-col-end {
  width: fit-content;
}

#explained .synchro-type {
  width: fit-content;
}

#explained .img-wrap {
  flex-grow: 1;
  height: 100%;
}

#webapp .wrap-row-space {
  width: 100%;
}

#webapp .wrap-col-end {
  width: fit-content;
}

.col-center {
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: end;
}
