/*–––––––––––––––––––––––––––––––––––––
RESPONSIVE
–––––––––––––––––––––––––––––––––––––*/

/* smartphone */
@media screen and (max-width: 768px) {
  #title-card {
    margin-top: 40px;
    width: calc(100vw - 64px);
    background-position: center;
    background: url(../public/zhd/cabina8.png);
    background-size: cover;
    height: calc(76vh - 64px);
    padding: 32px;
    color: var(--primary-color);
  }

  #title-card .title {
    color: var(--primary-color);
    font-weight: 500;
  }

  #intro {
    justify-content: center;
    height: fit-content;
  }

  #intro .wrap-col-end {
    width: 100%;
    height: fit-content;
    flex-direction: column;
  }

  #intro .wrap-col-end .wrap-row-space {
    flex-direction: column;
    height: 100%;
    gap: 2rem;
  }
  #intro .img-wrap {
    height: 20vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: start;
  }

  #intro .img-wrap img {
    width: 100%;
  }

  #chrono {
    display: flex;
    flex-direction: column;
  }
  #chrono .wrap-row-space {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
  }

  #chrono .wrap-row-space .body-text {
    width: 100%;
    height: fit-content;
  }

  #chrono-img {
    display: none;
  }

  #use .wrap-col-start {
    height: fit-content;
  }

  #use .synchro-type {
    height: fit-content;
    width: 100%;
  }

  #use .body-text {
    height: fit-content;
    width: 100%;
  }

  #use .wrap-grid {
    grid-template-columns: repeat(1, 1fr);
    height: fit-content;
    width: 100%;
    grid-template-rows: repeat(4, 300px);
  }

  #video-section {
    position: relative; /* fondamentale */
    height: 28vh;
    margin-top: 4rem;
    overflow: hidden; /* evita sbordi */
  }

  #video-section .bg-video {
    position: absolute; /* fondamentale */
    inset: 0;

    width: 100%;
    height: 100%;
    object-fit: cover;

    /* importante: devono funzionare hover/click/dblclick sul video */
    pointer-events: auto;
    cursor: pointer;
  }

  #explained .wrap-row-start {
    width: 100%;
  }

  #explained .wrap-col-end {
    width: 100%;
    height: fit-content;
  }

  #explained .synchro-type {
    width: 100%;
  }

  #explained .body-text {
    width: 100%;
  }

  #webapp .wrap-row-space {
    width: 100%;
    height: fit-content;
  }

  #webapp .body-text {
    width: 100%;
  }

  #webapp .wrap-col-end {
    width: 100%;
  }

  .col-center {
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: end;
  }
}

/* tablet */

@media screen and (min-width: 769px) and (max-width: 1024px) {
  #title-card {
    background: url(../public/zhd/cabina3.png);
    background-position: 40%;
    background-size: cover;
  }

  #intro {
    justify-content: center;
    height: fit-content;
  }

  #intro .wrap-col-end {
    width: 100%;
    height: fit-content;
    flex-direction: column;
  }

  #intro .wrap-col-end .wrap-row-space {
    flex-direction: column;
    height: 100%;
    gap: 2rem;
  }
  #intro .img-wrap {
    height: 20vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: start;
  }

  #intro .img-wrap img {
    width: 100%;
  }

  #chrono {
    display: flex;
    flex-direction: column;
    height: fit-content;
  }
  #chrono .wrap-row-space {
    display: flex;
    flex-direction: column;
    justify-content: start;
    height: fit-content;
    width: 100%;
  }

  #chrono .wrap-row-space .body-text {
    width: 100%;
    height: fit-content;
  }

  #chrono-img {
    display: none;
  }

  #use .wrap-col-start {
    height: fit-content;
  }

  #use .synchro-type {
    height: fit-content;
    width: 100%;
  }

  #use .body-text {
    height: fit-content;
    width: 100%;
  }

  #use .wrap-grid {
    grid-template-columns: repeat(2, 1fr);
    height: fit-content;
    width: 100%;
    grid-template-rows: repeat(2, 300px);
  }

  #video-section {
    position: relative; /* fondamentale */
    height: 28vh;
    margin-top: 4rem;
    overflow: hidden; /* evita sbordi */
  }

  #video-section .bg-video {
    position: absolute; /* fondamentale */
    inset: 0;

    width: 100%;
    height: 100%;
    object-fit: cover;

    /* importante: devono funzionare hover/click/dblclick sul video */
    pointer-events: auto;
    cursor: pointer;
  }

  #explained .wrap-row-start {
    width: 100%;
  }

  #explained .wrap-col-end {
    width: 100%;
    height: fit-content;
  }

  #explained .synchro-type {
    width: 100%;
  }

  #explained .body-text {
    width: 100%;
  }


  #webapp .wrap-row-space {
    width: 100%;
    height: fit-content;
  }

  #webapp .body-text {
    width: 100%;
  }

  #webapp .wrap-col-end {
    width: 100%;
  }

  .col-center {
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: end;
  }
}
